.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.black-background {
  background-color: rgb(0, 0, 0);
  color: rgb(249, 255, 215);
}